 <h2>Lista de Autores</h2>

    <button (click)="crearAutor()">Crear Autor</button>

    <table border="1">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha Nacimiento</th>
          <th>Género</th>
          <th>País</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let autor of autores">
          <td>{{ autor.nombre }}</td>
          <td>{{ autor.fechaNacimiento | date }}</td>
          <td>{{ autor.genero }}</td>
          <td>{{ autor.pais }}</td>
          <td>{{ autor.estado ? 'Activo' : 'Inactivo' }}</td>
          <td>
            <button (click)="editarAutor(autor.id)">Editar</button>
            <button (click)="eliminarAutor(autor.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>